
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* Data Science Tools

1. SQL
2. PYTHON
3. R

1. KERAS
2. PYTORCH
3. SCIKIT

|Data Science Tools|
| ------|
|JUPYTER|
|RSTUDIO|
|SPYDER|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60 #this will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Abhishek Mukherjee